<style type="text/css">  
body { font-size:18px; font-family:"宋体"}  
ol li { margin:8px} 
#error{
	color:red;
	margin:0 auto
}
#back { font-size:20px;
 width:100%; height:100%; 
 margin-left:10px ;
 margin-top:10px;
padding-left:70px;
padding-top:30px;
padding-bottom:1100px;
background-size:100%;
 background:url(../images/login.jpg) no-repeat ;
 }   
#con { font-size:15px; height:350px;
 width:600px; 
 margin-top:60px;
 margin-left:900px;
 }  
#tags { height:23px; width:400px; margin-top:30px; padding:0; margin-left:20px;}  
#tags li {font-size:15px; float:left; margin-left:20px;margin-right:20px;margin-top:58px; background:#000040 no-repeat left bottom; height:23px; list-style-type:none}  
#tags li a { text-decoration:none; float:left; background:url(。。/images/fresh.png) no-repeat right bottom; height:23px; padding:0px 10px; line-height:23px; color:#999}  
#tags li.emptyTag { width:4px; background:black}  
#tags li.selectTag0 { background-position: left top; position:relative; height:25px; margin-bottom:-2px}  
#tags li.selectTag1 { background-position: left top; position:relative; height:25px; margin-bottom:-2px}  
#tags li.selectTag2 { background-position: left top; position:relative; height:25px; margin-bottom:-2px}  
#tags li.selectTag3 {font-size:15px; background-position: left top; position:relative; height:25px; margin-bottom:-2px}  
#tags li.selectTag a { background-position: right top; color:#000; height:25px; line-height:25px;}  
#tagContent { padding:1px; 
background:-moz-linear-gradient(top,#dbe3de,#f6f6f8);
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#dbe3de), to(#f6f6f8));
 background: -ms-linear-gradient(top, #dbe3de,  #f6f6f8); 
margin-top:60px;margin-left:30px;margin-right:30px}  
.tagContent { background:url(images/bg.gif) repeat-x;  padding:10px; color:#474747; width:576px; display:none}  
#tagContent div.selectTag{ display:block}  
</style>